<div class="content">
    <h1>Helden Teams</h1>
    <p>
        Hier einige Kompositionen von Helden von unserer Gilde empfohlen.
        Für Neueinsteiger als Tipp: Sich hier ein Team raussuchen, und nur diese Helden leveln.
    </p>

    <div *ngIf="(teams$ | async) as teams; else loading">

        <table>
            <tbody>
                <ng-container *ngFor="let item of teams; let index = index">
                    <tr><td class="yellow-protest size15">{{ item.name }}</td></tr>
                    <tr *ngIf="item.id !== showId">
                        <td class="flex flex-wrap">
                            <div class="heroname" *ngFor="let h of item.heroes">{{ h }}</div>
                            <div class="heroname">{{item.pet}}</div>
                            <div class="heroname openteam" (click)="showTeam(item.id)"><span class="pi pi-chevron-down"></span></div>
                        </td>
                    </tr>
                    <tr *ngIf="item.id === showId">
                        <td class="flex flex-wrap">
                            <div *ngFor="let h of item.heroes; let i = index"
                                [routerLink]="['/hero/hero/', h]" 
                                class="hero" 
                                [ngStyle]="{'background-image': getHeroUrl(h)}">
                                <div class="hname">{{ h }}</div>
                            </div>
                            <div class="hero" 
                                [ngStyle]="{'background-image': getPetUrl(item.pet)}">
                                <div class="hname">{{item.pet}}</div>
                            </div>
                            <div class="hero" style="flex-direction: column; justify-content: space-between;">
                                <div class="hname closeteam" (click)="closeTeam()">
                                    <span class="pi pi-chevron-up"></span>
                                </div>
                                <div class="hname closeteam" (click)="editTeam(item)" *ngIf="auth$ | async">
                                    <span class="pi pi-wrench"></span>
                                </div>
                                <div class="hname closeteam" (click)="deleteTeam($event, item)" *ngIf="auth$ | async">
                                    <span class="pi pi-trash"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="item.id === showId && petsExist(item.pets)">
                        <td class="flex flex-wrap">
                            <div *ngFor="let h of item.pets; let i = index"
                                class="hero" 
                                [ngStyle]="{'background-image': getPetUrl(h)}">
                                <div class="hname">{{h}}</div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="item.id === showId">
                        <td class="description" [innerHTML]="item.description | appNewlineToBr"></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>

    <ng-template #loading>
        <p>Teams werden geladen.</p>
    </ng-template>

    <div *ngIf="auth$ | async" class="mt10">
        <p-button 
            type="button"
            [routerLink]="['/hero/heroteamsedit']">Team hinzufügen</p-button>
    </div>

</div>

<p-toast />
<p-confirmDialog />