<div class="content">
    <app-subnav [definedRoute]="'hero'"></app-subnav>
    <h1>Helden Teams</h1>
    <p>Hier einige Kompositionen von Helden von unserer Gilde empfohlen.</p>
    <p>Für Neueinsteiger als Tipp: Sich hier ein Team raussuchen, und nur diese Helden leveln.</p>

    <div *ngIf="(teams$ |async) as teams; else loading">

        <table>
            <thead>
                <tr >
                    <th>Name</th>
                    <th>Held 1</th>
                    <th>Held 2</th>
                    <th>Held 3</th>
                    <th>Held 4</th>
                    <th>Held 5</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of teams; let index = index">
                    <td>{{ item.name }}</td>
                    <td>{{ item.heroes[0] }}</td>
                    <td>{{ item.heroes[1] }}</td>
                    <td>{{ item.heroes[2] }}</td>
                    <td>{{ item.heroes[3] }}</td>
                    <td>{{ item.heroes[4] }}</td>
                    <td>
                        <button
                            type="button"
                            (click)="viewTeam()">Details</button>
                        <button
                            *ngIf="auth$ | async"
                            type="button"
                            (click)="deleteTeam()">Löschen</button>
                        <button
                            *ngIf="auth$ | async"
                            type="button"
                            (click)="editTeam()">Bearbeiten</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <ng-template #loading>
        <p>Teams werden geladen.</p>
    </ng-template>

    <div *ngIf="auth$ | async" class="mt10">
        <button
            type="button"
            [routerLink]="['/hero/heroteamsedit']">Team hinzufügen</button>
    </div>

</div>

<ng-template
    #deleteModal
    let-observer
>
    <p>Wirklich löschen?</p>
    <button
        type="button"
        (click)="withdraw()"
    >Löschen</button>
    <button
        type="button"
        (click)="observer.complete()"
    >Abbrechen</button>
</ng-template>