<div class="content" *ngIf="auth$ | async">
    <h1>Neuen Held anlegen</h1>


    <form class="b-form" [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="col">
                    <tui-input formControlName="name" tuiTextfieldSize="s">
                        Name des Helden
                        <input tuiTextfield type="text">
                    </tui-input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <tui-select
                tuiTextfieldSize="s"
                formControlName="position">
                    Kampfposition
                    <input
                        placeholder="Wähle die Position"
                        tuiTextfield
                    />
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="positions"
                    ></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col">
                <tui-select tuiTextfieldSize="s" formControlName="tierlist">
                    Tier List
                    <input placeholder="Rang in der Tierlist" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="service.tierlist"></tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <tui-select  tuiTextfieldSize="s" formControlName="funktion" >
                    Klasse
                    <input placeholder="Klasse des Helden" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="service.classes"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col">
                <tui-select tuiTextfieldSize="s" formControlName="funktion2">
                    Sekundäre Klasse
                    <input placeholder="Sekundäre Klasse des Helden" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="service.classes"></tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>

        <p>
            <tui-textarea formControlName="description" [expandable]="true">
                Hinweise & Tips
            </tui-textarea>
        </p>

        <p>Skin & Priorität</p>

        <div class="row">
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="skin1" >
                    Skin Priorität 1
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="skinNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="skin2" >
                    Skin Priorität 2
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="skinNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="skin3" >
                    Skin Priorität 3
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="skinNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>
        <div class="row">
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="skin4" >
                    Skin Priorität 4
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="skinNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="skin5" >
                    Skin Priorität 5
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="skinNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="skin6" >
                    Skin Priorität 6
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="skinNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>

        <p>Glyphen & Priorität</p>

        <div class="row">
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="glyph1" >
                    Glyphe Priorität 1
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="glyphNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="glyph2" >
                    Glyphe Priorität 2
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="glyphNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="glyph3" >
                    Glyphe Priorität 3
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="glyphNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>
        <div class="row">
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="glyph4" >
                    Glyphe Priorität 4
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="glyphNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="glyph5" >
                    Glyphe Priorität 5
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="glyphNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>

        
        <p>Artefakt Priorität</p>

        <div class="row">
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="artefact1" >
                    Artefakt Priorität 1
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="artefactNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="artefact2" >
                    Artefakt Priorität 2
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="artefactNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="col mb10">
                <tui-select  tuiTextfieldSize="s" formControlName="artefact3" >
                    Artefakt Priorität 3
                    <input placeholder="Standard" tuiTextfield>
                    <tui-data-list-wrapper *tuiDataList [items]="artefactNames"></tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>

        <p>
            <button class="mr10"
                tuiButton
                type="button"
                (click)="sendData()">Abschicken</button>
            <button
                tuiButton
                type="button"
                (click)="abbrechen()">Abbrechen</button>
        </p>
    </form>
</div>
