<div class="content" *ngIf="auth$ | async">
        <h1 *ngIf="(title | async) as t">{{t | translate}}</h1>

        <form class="b-form" [formGroup]="form">
                <div class="row">
                        <div class="col">
                                <div class="flex flex-column gap-2">
                                        <label for="name"></label>
                                        <input pInputText id="name" formControlName="name" />
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col">
                                <div class="flex flex-column gap-2">
                                        {{'HERO_EDIT_2' | translate}}
                                        <p-dropdown formControlName="position" [options]="positions" optionLabel="name"
                                                [placeholder]="'HERO_EDIT_3' | translate" />
                                </div>
                        </div>
                        <div class="col">
                                <div class="flex flex-column gap-2">
                                        {{'HERO_EDIT_4' | translate}}
                                        <p-dropdown formControlName="tierlist" [options]="tierlist" optionLabel="name"
                                                [placeholder]="'HERO_EDIT_5' | translate" />
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col">
                                <div class="flex flex-column gap-2">
                                        {{'HERO_EDIT_6' | translate}}
                                        <p-dropdown formControlName="funktion" [options]="classes" optionLabel="name"
                                        [placeholder]="'HERO_EDIT_7' | translate" />
                                </div>
                        </div>
                        <div class="col">
                                <div class="flex flex-column gap-2">
                                        {{'HERO_EDIT_8' | translate}}
                                        <p-dropdown formControlName="funktion2" [options]="classes" optionLabel="name"
                                        [placeholder]="'HERO_EDIT_9' | translate" />
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col">
                                {{'HERO_EDIT_10' | translate}}<br>
                                <textarea formControlName="description" pInputTextarea style="width:100%"></textarea>
                        </div>
                </div>

                <h2>{{'HERO_EDIT_11' | translate}}</h2>

                <div class="row">
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Skin Prio 1
                                        <p-dropdown formControlName="skin1" [options]="skinlist" optionLabel="name"
                                                placeholder="Skin Prio 1" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Skin Prio 2
                                        <p-dropdown formControlName="skin2" [options]="skinlist" optionLabel="name"
                                                placeholder="Skin Prio 2" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Skin Prio 3
                                        <p-dropdown formControlName="skin3" [options]="skinlist" optionLabel="name"
                                                placeholder="Skin Prio 3" />
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Skin Prio 4
                                        <p-dropdown formControlName="skin4" [options]="skinlist" optionLabel="name"
                                                placeholder="Skin Prio 4" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Skin Prio 5
                                        <p-dropdown formControlName="skin5" [options]="skinlist" optionLabel="name"
                                                placeholder="Skin Prio 5" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Skin Prio 6
                                        <p-dropdown formControlName="skin6" [options]="skinlist" optionLabel="name"
                                                placeholder="Skin Prio 6" />
                                </div>
                        </div>
                </div>

                <h2>{{'HERO_EDIT_12' | translate}}</h2>

                <div class="row">
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Glyphe Prio 1
                                        <p-dropdown formControlName="glyph1" [options]="glyphlist" optionLabel="name"
                                                placeholder="Glyphe Prio 1" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Glyphe Prio 2
                                        <p-dropdown formControlName="glyph2" [options]="glyphlist" optionLabel="name"
                                                placeholder="Glyphe Prio 2" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Glyphe Prio 3
                                        <p-dropdown formControlName="glyph3" [options]="glyphlist" optionLabel="name"
                                                placeholder="Glyphe Prio 3" />
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Glyphe Prio 4
                                        <p-dropdown formControlName="glyph4" [options]="glyphlist" optionLabel="name"
                                                placeholder="Glyphe Prio 4" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Glyphe Prio 5
                                        <p-dropdown formControlName="glyph5" [options]="glyphlist" optionLabel="name"
                                                placeholder="Glyphe Prio 5" />
                                </div>
                        </div>
                </div>


                <h2>{{'HERO_EDIT_13' | translate}}</h2>

                <div class="row">
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Artefact Prio 1
                                        <p-dropdown formControlName="artefact1" [options]="artlist" optionLabel="name"
                                                placeholder="Artefact Prio 1" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Artefact Prio 2
                                        <p-dropdown formControlName="artefact2" [options]="artlist" optionLabel="name"
                                                placeholder="Artefact Prio 2" />
                                </div>
                        </div>
                        <div class="col mb10">
                                <div class="flex flex-column gap-2">
                                        Artefact Prio 3
                                        <p-dropdown formControlName="artefact3" [options]="artlist" optionLabel="name"
                                                placeholder="Artefact Prio 3" />
                                </div>
                        </div>
                </div>

                <p>
                        <p-button [label]="'SPEICHERN' | translate" class="mr10" type="button" (click)="sendData()" />
                        <p-button [label]="'ABBRECHEN' | translate" type="button" (click)="abbrechen()" />
                </p>
        </form>
</div>