<div class="content" *ngIf="auth$ | async">
    <h1>Neuen Held anlegen</h1>


    <form class="b-form" [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="col">
                        Name des Helden
                        <input formControlName="name"  type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                    Kampfposition
                    <select formControlName="position"
                        placeholder="Wähle die Position"
                    >
                    <option></option>
                    </select>
            </div>
            <div class="col">
                    Tier List
                    <select formControlName="tierlist" placeholder="Rang in der Tierlist">
                        <option *ngFor="let t of service.tierlist"></option>
                    </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                    Klasse
                    <input placeholder="Klasse des Helden" >
                    <option value="service.classes"></option>
                
            </div>
            <div class="col">
                    Sekundäre Klasse
                    <input placeholder="Sekundäre Klasse des Helden" >
                    <option value="service.classes"></option>
                
            </div>
        </div>

        <p>
            <textarea formControlName="description">
                Hinweise & Tips
            </textarea>
        </p>

        <p>Skin & Priorität</p>

        <div class="row">
            <div class="col mb10">
                    Skin Priorität 1
                    <input placeholder="Standard" >
                    <option value="skinNames"></option>
                
            </div>
            <div class="col mb10">
                    Skin Priorität 2
                    <input placeholder="Standard" >
                    <option value="skinNames"></option>
                
            </div>
            <div class="col mb10">
                    Skin Priorität 3
                    <input placeholder="Standard" >
                    <option value="skinNames"></option>
                
            </div>
        </div>
        <div class="row">
            <div class="col mb10">
                    Skin Priorität 4
                    <input placeholder="Standard" >
                    <option value="skinNames"></option>
                
            </div>
            <div class="col mb10">
                    Skin Priorität 5
                    <input placeholder="Standard" >
                    <option value="skinNames"></option>
                
            </div>
            <div class="col mb10">
                    Skin Priorität 6
                    <input placeholder="Standard" >
                    <option value="skinNames"></option>
                
            </div>
        </div>

        <p>Glyphen & Priorität</p>

        <div class="row">
            <div class="col mb10">
                    Glyphe Priorität 1
                    <input placeholder="Standard" >
                    <option value="glyphNames"></option>
                
            </div>
            <div class="col mb10">
                    Glyphe Priorität 2
                    <input placeholder="Standard" >
                    <option value="glyphNames"></option>
                
            </div>
            <div class="col mb10">
                    Glyphe Priorität 3
                    <input placeholder="Standard" >
                    <option value="glyphNames"></option>
                
            </div>
        </div>
        <div class="row">
            <div class="col mb10">
                    Glyphe Priorität 4
                    <input placeholder="Standard" >
                    <option value="glyphNames"></option>
                
            </div>
            <div class="col mb10">
                    Glyphe Priorität 5
                    <input placeholder="Standard" >
                    <option value="glyphNames"></option>
                
            </div>
        </div>

        
        <p>Artefakt Priorität</p>

        <div class="row">
            <div class="col mb10">
                    Artefakt Priorität 1
                    <input placeholder="Standard" >
                    <option value="artefactNames"></option>
                
            </div>
            <div class="col mb10">
                    Artefakt Priorität 2
                    <input placeholder="Standard" >
                    <option value="artefactNames"></option>
                
            </div>
            <div class="col mb10">
                    Artefakt Priorität 3
                    <input placeholder="Standard" >
                    <option value="artefactNames"></option>
                
            </div>
        </div>

        <p>
            <button class="mr10"
                type="button"
                (click)="sendData()">Abschicken</button>
            <button
                type="button"
                (click)="abbrechen()">Abbrechen</button>
        </p>
    </form>
</div>
