<div class="bg">
    <div class="landingpage">

      <div class="top">
          <div class="logotitle">
             <h1>GLUECKSRITTER</h1>
             <div>Hero Wars Gilde</div>
          </div>
       </div>

      <div class="bottom">
         <div style="max-width: 800px; width:90%;">
            <div class="grid gridlink">
               <div [routerLink]="['/hero/heroes']">
                  <h2 [innerHTML]="'WELCOME_HELDEN_H1' | translate"></h2>
                  <p class="mt10" [innerHTML]="'WELCOME_HELDEN' | translate"></p>
               </div>
               <div [routerLink]="['/page/Mitglieder']">
                  <h2 [innerHTML]="'WELCOME_GILD_H1' | translate"></h2>
                  <p class="mt10" [innerHTML]="'WELCOME_GILD' | translate"></p>
               </div>
               <div [routerLink]="['/page/Abenteuer']">
                  <h2 [innerHTML]="'WELCOME_ADVENTURE_H1' | translate"></h2>
                  <p class="mt10" [innerHTML]="'WELCOME_ADVENTURE' | translate"></p>
               </div>
               @if(giftsLoaded | async) {
               <div *ngIf="giftLinks | async as gl" class="nohover">
                  <h2>Gifts</h2>
                  <div *ngFor="let g of gl" [innerHTML]="g"></div>
               </div>
               }
               @else {
                  <div class="nohover">
                     <h2 [innerHTML]="'WELCOME_GIFT_H1' | translate"></h2>
                     <div style="text-align: center;">
                        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                        <p class="mt10" [innerHTML]="'WELCOME_GIFT' | translate"></p>
                     </div>
                  </div>
               }
            </div>
         </div>
      </div>

    </div>
</div>

<div class="mitglieder">
    <div class="contentWelcome">
       <div class="grid g2">
          <div>
             <h1 [innerHTML]="'WELCOME_GILDE_H1' | translate"></h1>
             <p class="mt10" [innerHTML]="'WELCOME_GILDE' | translate"></p>
          </div>
          <div>
             <h1 [innerHTML]="'WELCOME_TOP10_H1' | translate"></h1>
             <p class="mt10" [innerHTML]="'WELCOME_TOP10' | translate"></p>
          </div>
        </div>
        <div class="grid g2 mt10">
            <div>
               <h1 [innerHTML]="'WELCOME_REGELN_H1' | translate"></h1>
               <p class="mt10" [innerHTML]="'WELCOME_REGELN' | translate"></p>
               <p-button [label]="'Regeln' | translate" icon="pi pi-check" size="small" routerLink="/page/Regeln" styleClass="mt10" />
            </div>
            <div>
               <h1 [innerHTML]="'WELCOME_DISCLAIMER_H1' | translate"></h1>
               <p class="mt10" [innerHTML]="'WELCOME_DISCLAIMER' | translate"></p>
            </div>
        </div>
    </div>
 </div>









