:host {
  display: block;
}

.bg { 
  /* background-image: url("/assets/mainpagebg30.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  background-position: top;
}

.contentWelcome {
  padding-top: 1em; 
  height: auto; 
  min-height: 0em; 
  max-width: 800px;
}

.landingpage {
  display: flex;
  flex-direction: column;
}
.landingpage .top {
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
  gap: 2em;
}

.logotitle {
  color: #D6AB08;
  background-color: rgba(0,0,0,0.5);
  border: 3px solid rgba(255,255,255,0.7);
  border-width: 3px 0 0 3px;
  border-radius: 0.3em;
  padding: 0.6em 2.8em;
  display: block;
  -webkit-backdrop-filter: blur(0.4em);
  backdrop-filter: blur(0.4em);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.logotitle h1 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em; 
  margin: 0.4em 0;
}
.logotitle div {
  font-weight: bold;
  margin-top: -1em;
  text-align: right;
}


.mitglieder {
  background-color: black;
  background: radial-gradient(circle, rgba(150,0,0,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}
.mitglieder .content {
  width: 90%;
  max-width: 800px;
  margin: 1em 0;
}
.mitglieder h1 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin: 0;
  color: #D6AB08;      
}

.mb10 { margin-bottom: 1.0em; }
.mt10 { margin-top: 1.0em; }

.giftlinks {
  color: #D6AB08 !important;
  text-decoration: none;
}
.giftlinks:hover { color: red !important; }
.giftlinks:visited { color: gray !important; }

/* ########################################################################### 
GRID
#########################################################################*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  width: 100%;
}
.g2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid > div {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  padding: 1em;
  border: 0px solid black;
  border-radius: 0.5em;
  color: white; 
}
.grid > div p {
  margin: 0;
}
.grid > div .g2 {
  grid-column: auto / 3; grid-row: 1 / 2;
}
.grid > div > h2 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  margin: 0;
  color: #D6AB08;
}
.gridlink {
  cursor: pointer;
}
.gridlink > div.nohover {
  cursor: auto;
}
.gridlink > div:hover {
    background: linear-gradient(180deg, rgba(200,0,0,1) 0%, rgba(200,0,0,0) 100%);
}
.gridlink > div.nohover:hover {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

@media screen and (max-width:650px) {
  .grid > div:nth-child(1) { grid-column: 1 / 3; grid-row: 1 / 2; }
  .grid > div:nth-child(2) { grid-column: 3 / 5; grid-row: 1 / 2; }
  .grid > div:nth-child(3) { grid-column: 1 / 3; grid-row: 2 / 3; }
  .grid > div:nth-child(4) { grid-column: 3 / 5; grid-row: 2 / 3; }
  .g2 > div:nth-child(1) { grid-column: 1 / 3; grid-row: 1 / 2; }
  .g2 > div:nth-child(2) { grid-column: 1 / 3; grid-row: 2 / 3; }
  .logotitle h1 { font-size: 3em; }
}