<div class="bg">
    <div class="landingpage">

      <div class="top">
          <div class="logotitle">
             <h1>GLUECKSRITTER</h1>
             <div>Hero Wars Gilde</div>
          </div>
       </div>

      <div class="bottom">
         <div style="max-width: 800px; width:90%;">
            <div class="grid gridlink">
               <div [routerLink]="['/hero/heroes']">
                  <h2>Helden</h2>
                  Tipps zu den Helden im Spiel und Rankings, diverse Teams und Titanen.
               </div>
               <div [routerLink]="['/page/Mitglieder']">
                  <h2>Gilde</h2>
                  Über Uns, Regeln und Vorteile der Gildenaktivität wie auch Tipps und Tricks.
               </div>
               <div [routerLink]="['/page/Abenteuer']">
                  <h2>Abenteuer</h2>
                  Karten und Wege die jeder nehmen sollte, damit alle Truhen erreicht werden.
               </div>
               <div *ngIf="giftLinks | async as gl" class="nohover">
                  <h2>Gifts</h2>
                  <div *ngFor="let g of gl" [innerHTML]="g"></div>
               </div>
            </div>
         </div>
      </div>

    </div>
</div>

<div class="mitglieder">
    <div class="content" style="padding-top: 1em; height: auto; min-height: 0em; max-width: 800px;">
       <div class="grid g2">
          <div>
             <h1>Die Gilde</h1>
             <p class="mt10">
               Unsere sehr junge Gilde ist am 03.02.2024 von Sasida gegründet worden.
               Schon 8 Tage später kam eine große Stütze der Gilde dazu KueckenONE.
               Abgerundet wurde der innere Kern mit Bull und Stellatro.
               Es dauerte nicht lange, bis einige weitere nette Mitglieder dazu kamen.
             </p>
          </div>
          <div>
             <h1>Der Rest der Bande</h1>
             <p class="mt10">Folgende aktive Mitglieder möchten wir hier erwähnen:</p>
             <p class="mt10">
               Armagedon, 
               Bandit, 
               Der Leitwolf, 
               Wolf, 
               Freddy56, 
               HIEU, 
               Ich_Binsch, 
               Mega, 
               Oigenpuffel, 
               Panello, 
               SFINX, 
               Sir McFly, 
               Team OZONE
            </p>
          </div>
        </div>
        <div class="grid g2 mt10">
            <div>
                <h1>Regeln</h1>
                <p class="mt10">
                  Wie in jeder Gilde gibt es einige wünschenswerte Verhaltensregeln.
                  Wir bitten jedes Mitglied sich auf der folgenden Seite zu 
                  informieren und die Wünsche unserer Gilde zu akzeptieren.<br>
                  <p-button label="Regeln" icon="pi pi-check" size="small" routerLink="/page/Regeln" styleClass="mt10" />
                </p>
            </div>
            <div>
                <h1>Disclaimer</h1>
                <p class="mt10">
                  Fan-Seite zu HERO WARS: DOMINION ERA<br>
                  Dieser Inhalt ist nicht mit NEXTERS verbunden, 
                  wird nicht unterstützt, gesponsert oder genehmigt von 
                  NEXTERS und NEXTERS übernimmt keine Verantwortung dafür.
                </p>
            </div>
        </div>
    </div>
 </div>









