<div class="content">
    <app-subnav [definedRoute]="'hero'"></app-subnav>
    <h1>Helden Team Details</h1>

    <div *ngIf="team$ | async as team">
        <h3>{{team.name}}</h3>
        <p [innerHTML]="team.description| appNewlineToBr"></p>

        <div class="heroes">
            <div 
                *ngFor="let hero of team.heroes"
                [routerLink]="['/hero/'+hero]"
                style="background-image: url(/assets/hero/{{hero}}.png);">
                <div>{{hero}}</div>
            </div>
        </div>
    </div>

    <button *ngIf="auth$ | async"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_top-3 mr10"
        (click)="edit()">Bearbeiten</button>

    <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_top-3"
        [routerLink]="['/heroteams']">Zurück</button>

</div>