<div class="content">
    <!--<app-subnav [definedRoute]="'titan'"></app-subnav>-->
    <ng-container *ngIf="titan$ | async as titan">

        <div class="titanimage">
            <img class="titanimg" src="{{getSkinUrl()}}">
            <div class="scrolltitan" *ngIf="titan.skins.length">
                <button
                    type="button"
                    (click)="prevSkin()"
                ></button>
                <span>{{getSkinName()}}</span>
                <button
                    type="button"
                    (click)="nextSkin()"
                ></button>
            </div>
        </div>

        <h1>{{titan.name}}</h1>

        <p>
            <strong>Position:</strong> {{titan.position}}<br>
            <strong>Tier-List:</strong> {{titan.tierlist}}<br>
            <strong>Funktion:</strong> {{titan.funktion}}
        </p>

        <p [innerHTML]="titan.description"></p>

        <p style="margin-top:2em" *ngIf="auth$ | async">
            <button
                type="button"
                (click)="navEdit()"
            >Bearbeiten</button>
            <button
                type="button"
                (click)="deleteTitan()"
            >Löschen</button>
        </p>

    </ng-container>
</div>



<ng-template #deleteModal let-observer>
    <p>Wirklich löschen?</p>
    <button
        type="button"
        (click)="withdraw()"
    >Löschen</button>
    <button
        type="button"
        (click)="observer.complete()"
    >Abbrechen</button>
</ng-template>