<div class="content">
    <h1>Passwort vergessen</h1>
    <p>
        Geben Sie bitte Ihre Email ein, um einen Token per Email zu erhalten. <br>
        Damit können Sie dann ein neues Passwort vergeben:
    </p>
    <form class="b-form" [formGroup]="formMail">

        <tui-input formControlName="email" class="mb10">
            Email
            <input tuiTextfield type="text">
        </tui-input>
        <p *ngIf="!formMail.valid && formMail.dirty" class="error">Bitte eine gültige Email eingeben.</p>
        <p *ngIf="errorNoMail$ | async" class="error">Systemfehler: Email konnte nicht versendet werden.</p>
        <p *ngIf="successMail$ | async" class="success">Eine Email mit einem Token wurde versendet.</p>

        
        <button
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            [disabled]="!formMail.valid"
            (click)="sendMail()">Token anfordern</button>

    </form>

    <h2>Neue Passwort vergeben</h2>
    <p>Bitte geben Sie ein neues Kennwort ein, und den per EMail gesendeten Token.</p>
    <form class="b-form" [formGroup]="newPass">

        <tui-input-password
            formControlName="password">
            Neues Passwort
            <input tuiTextfield type="text">
        </tui-input-password>

        <tui-input-password
            formControlName="passwordConfirm" class="mt10">
            Passwort Bestätigung
            <input tuiTextfield type="text">
        </tui-input-password>

        <tui-input 
            formControlName="token" class="mt10 mb10">
            Token (aus Email)
            <input tuiTextfield type="text">
        </tui-input>

        <p *ngIf="!newPass.valid && newPass.dirty" class="error">
            Sie benötigen 8 Zeichen mit Groß-, Kleinbuchstaben und Zahlen.<br>
            Einen Token, und die Passwörter müssen übereinstimmen.
        </p>
        <p *ngIf="errorNotChanged$ | async" class="error">
            Systemfehler: Ihr Passwort konnte nicht geändert werden.
        </p>
        <p *ngIf="successChanged$ | async" class="success">
            Ihr Passwort wurde erfolgreich geändert.
        </p>

        <button class="mt10"
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            [disabled]="!newPass.valid"
            (click)="sendPassword()">Passwort ändern</button>

    </form>
</div>