<div class="content">
    <h1>Passwort vergessen</h1>
    <p>
        Geben Sie bitte Ihre Email ein, um einen Token per Email zu erhalten. <br>
        Damit können Sie dann ein neues Passwort vergeben:
    </p>
    <form class="b-form" [formGroup]="formMail">

        <div class="row">
            <div class="col">
                <p-floatLabel>
                    <input pInputText id="email" formControlName="email" />
                    <label for="email">E-Mail</label>
                </p-floatLabel>

                <p *ngIf="!formMail.valid && formMail.dirty" class="error">Bitte eine gültige Email eingeben.</p>
                <p *ngIf="errorNoMail$ | async" class="error">Systemfehler: Email konnte nicht versendet werden.</p>
                <p *ngIf="successMail$ | async" class="success">Eine Email mit einem Token wurde versendet.</p>
            </div>
            <div class="col">
                <p-button 
                    [disabled]="!formMail.valid"
                    label="Token anfordern" 
                    icon="pi pi-check" 
                    (onClick)="sendMail()" />
            </div>
        </div>

    </form>

    <h2>Neue Passwort vergeben</h2>
    <p>Bitte geben Sie ein neues Kennwort ein, und den per EMail gesendeten Token.</p>
    <form class="b-form" [formGroup]="newPass">

        <div class="row">
            <div class="col">
                <p-floatLabel>
                    <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true" />
                    <label for="password">Neues Passwort</label>
                </p-floatLabel>
            </div>
            <div class="col">
                <p-floatLabel>
                    <p-password id="passwordConfirm" formControlName="passwordConfirm" [feedback]="false" [toggleMask]="true" />
                    <label for="passwordConfirm">Passwort Bestätigung</label>
                </p-floatLabel>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p-floatLabel>
                    <input pInputText id="token" formControlName="token" />
                    <label for="token">Token (aus Email)</label>
                </p-floatLabel>
            </div>
            <div class="col">
                <p-button 
                    [disabled]="!newPass.valid"
                    label="Passwort ändern" 
                    icon="pi pi-check" 
                    (onClick)="sendPassword()" />
            </div>
        </div>

        <div class="row">
            <div class="col">

                <p *ngIf="!newPass.valid && newPass.dirty" class="error">
                    Sie benötigen 8 Zeichen mit Groß-, Kleinbuchstaben und Zahlen.<br>
                    Einen Token, und die Passwörter müssen übereinstimmen.
                </p>
                <p *ngIf="errorNotChanged$ | async" class="error">
                    Systemfehler: Ihr Passwort konnte nicht geändert werden.
                </p>
                <p *ngIf="successChanged$ | async" class="success">
                    Ihr Passwort wurde erfolgreich geändert.
                </p>

            </div>
        </div>

    </form>
</div>