<div class="content">
    <h1>Gildenkrieg</h1>
    <p>
        Liste von Gildenmitgliedern, 
        welche für den Gildenkrieg zur Verfügung stehen,
        und welche eingeplant werden.
    </p>

    <select name="">
        <option>2024 Woche 21</option>
    </select>
    <div class="planer">
        <div>
            <div>switch</div>
            <div>Member [D]</div>
            <div>switch</div>
        </div>
        <div class="deactivated">
            <div>switch</div>
            <div>Member [D]</div>
            <div>switch</div>
        </div>
    </div>

</div>