<div class="content">
    <h1>Gildenkrieg</h1>
    <p>
        Liste von Gildenmitgliedern, 
        welche für den Gildenkrieg zur Verfügung stehen,
        und welche eingeplant werden.
    </p>

    <select name="">
        <option>2024 Woche 21</option>
    </select>



    <table *ngIf="members$ | async as data">
        <tr>
            <th>Name</th>
            <th *ngFor="let day of days" class="day">{{day}}</th>
            <th></th>
        </tr>
        <tr *ngFor="let member of data">
            <td title="{{member.info}}">{{member.name}}</td>
            <td *ngFor="let day of days" (click)="setStatus(day,member.id)">
                {{getIcon(day, member)}}
            </td>
            <td></td>
        </tr>
    </table>



    <h2>Mitglied hinzufügen</h2>
    <form class="b-form" [formGroup]="memberForm">
        <div class="row">
            <div class="col">
                    Name Mitglied
                    <input formControlName="name"   type="text">
            </div>
            <div class="col">
                    Notizen
                    <input  formControlName="info"  type="text">
            </div>
            <div class="col">
                <button
                    type="button"
                    (click)="addMember()">
                    Hinzufügen
                </button>
            </div>
        </div>
    </form>

</div>