<button mat-icon-button aria-label="home" color="primary" [routerLink]="['/welcome']">
    <mat-icon>home</mat-icon>
</button>

<button mat-icon-button aria-label="lock" color="primary" [routerLink]="['/login']">
    <mat-icon>lock</mat-icon>
</button>
<button mat-icon-button aria-label="lock_open" color="primary" [routerLink]="['/login']">
    <mat-icon>lock_open</mat-icon>
</button>

<div class="protest yellow" style="display: inline-block;font-size: 1.5em;">GLUECKSRITTER</div>


<button mat-stroked-button color="accent" [routerLink]="['/heroes']">Helden</button>
<button mat-stroked-button color="accent" [routerLink]="['/heroes']">Teams</button>
<button mat-stroked-button color="accent" [routerLink]="['/heroes']">Abenteuer</button>
<button mat-stroked-button color="accent" [routerLink]="['/heroes']">Titanen</button>

