<div>
    <div class="content">
        <app-subnav [definedRoute]="'titan'"></app-subnav>
        <h1>Titanen Liste</h1>
        
        <form class="b-form" [formGroup]="form">
            <div class="row">
                <div class="col">
                        Filter Tier
                        <select formControlName="filterTier">
                        <option
                            *ngFor="let t of service.tierlist"
                        ></option></select>
                </div>
                <div class="col">
                        Filter Klasse
                        <select formControlName="filterKlasse">
                        <option
                            *ngFor="let k of service.classes"
                        ></option></select>
                </div>
            </div>
        </form>

        <div *ngIf="filtered$ | async as titans">
            <div 
                *ngFor="let titan of titans" 
                [routerLink]="['/titan/titan/', titan]" 
                class="hero" 
                style="background-image: url(/assets/titans/{{titan}}.png);">
                <div class="hname">{{titan}}</div>
            </div>
        </div>

        <div *ngIf="auth$ | async">
            <button
            type="button"
            [routerLink]="['/titan/titanedit/']">Titan hinzufügen</button>
        </div>

    </div>

</div>

