<div>
    <div class="content">
        <app-subnav [definedRoute]="'titan'"></app-subnav>
        <h1>Titanen Liste</h1>

        <form class="b-form" [formGroup]="form">
            <div class="row">
                <div class="col">
                        <p-dropdown 
                            formControlName="filterTier" 
                            [options]="service.getPrimeTierlist()"
                            optionLabel="name"
                            placeholder="Filter Tier" />
                </div>
                <div class="col">
                    <p-dropdown 
                        formControlName="filterKlasse" 
                        [options]="service.getPrimeClasses()"
                        optionLabel="name"
                        placeholder="Filter Klasse" />
                </div>
                <div class="col" *ngIf="auth$ | async">
                    <p-button label="Titan hinzufügen" [routerLink]="['/titan/titanedit/']" />
                </div>
            </div>
        </form>

        <div *ngIf="filtered$ | async as titans" class="flex flex-wrap flex-space-between">
            <div 
                *ngFor="let titan of titans" 
                [routerLink]="['/titan/titan/', titan]" 
                class="hero" 
                style="background-image: url(/assets/titans/{{titan}}.png);">
                <div class="hname">{{titan}}</div>
            </div>
        </div>

    </div>

</div>

