<div class="bg">
    <div class="landingpage">

      <div class="top">
          <div class="logotitle">
             <h1>GLUECKSRITTER</h1>
             <div>Hero Wars Gilde</div>
          </div>
       </div>

       <div class="bottom">
          <div style="max-width: 800px; width:90%;">

             <div class="grid gridlink">
               <div [routerLink]="['/heroes']">
                  <h2>Helden</h2>
                  Tipps zu den Helden im Spiel und Rankings.
               </div>
               <div>
                  <h2>Teams</h2>
                  Welche Teams haben die besten Synergien?
               </div>
              <div>
                   <h2>Abenteuer</h2>
                   Karten und Wege die jeder nehmen sollte.
                </div>
                <div>
                   <h2>Tipps</h2>
                   Weitere Tipps zum Spiel.
                </div>
             </div>

          </div>
       </div>

    </div>
</div>

<div class="mitglieder">
    <div class="content" style="max-width: 800px;">
       <div class="grid g2">
          <div class="">
             <h1>Mitglieder</h1>
             <ul>
                <li>Sasida - Gildenmeister</li>
                <li>KueckenONE - Niedlicher Sith Lord</li>
                <li>Bull - Kriegsmeister GK</li>
                <li>Stellatro - Geheimwaffe</li>
             </ul>
          </div>
          <div>
             <h1>Der Rest der Bande</h1>
             <p style="margin-top: 1em;">Bandit, 
             Mega, 
             Panello, 
             Oigenpuffel, 
             Freddy56, 
             Der Wolf, 
             Team OZONE, 
             Ich_Binsch, 
             Der Leitwolf, 
             Armagedon, 
             HIEU, 
             SFINX, 
             Sir McFly, 
             activ, 
             Tiburcio85, 
             Namay100, 
             Raferti, 
             Lilith, 
             Goku, 
             MimiA, 
             Pitt668</p>
          </div>
        </div>
        <div class="grid g2 mt10">
            <div>
                <h1>Regeln</h1>
                <ol>
                    <li>Am Gildenkrieg teilnehmen.</li>
                    <li>Abwesenheiten an Bull melden (GK Geißel).</li>
                    <li>Keine Mitglieder in Arenen angreifen.</li>
                    <li>Anderen in Abenteuern helfen.</li>
                    <li>Sich an Abenteuer-Wege halten.</li>
                    <li>Auch mal was im Chat sagen, antworten.</li>
                    <li>Eigenen Namen erstellen (kein Team XXXXX).</li>
                    <li>Sprache ist hauptsächlich deutsch.</li>
                </ol>
            </div>
            <div class="">
                <h1>Weiteres</h1>
                <p style="margin-top: 1em;">
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
    </div>
 </div>