<div>
    <div class="content">
        <h1 [innerHTML]="'HEROES_H1' | translate"></h1>
        
        <form class="b-form" [formGroup]="form">
            <div class="row">
                <div class="col">
                        <p-dropdown 
                            formControlName="filterTier" 
                            [options]="service.getPrimeTierlist()"
                            optionLabel="name"
                            placeholder="Filter Tier" />
                </div>
                <div class="col">
                    <p-dropdown 
                        formControlName="filterKlasse" 
                        [options]="service.getPrimeClasses()"
                        optionLabel="name"
                        [placeholder]="'HEROES_FILTER_KLASSE' | translate" />
                </div>
                <div class="col" *ngIf="auth$ | async">
                    <p-button [label]="'HEROES_HINZUFUEGEN' | translate" [routerLink]="['/hero/hero/edithero/']" />
                </div>
            </div>
        </form>

        <div *ngIf="filtered$ | async as heros" class="flex flex-wrap flex-space-between">
            <div 
                *ngFor="let hero of heros" 
                [routerLink]="['/hero/hero/', hero]" 
                class="hero" 
                style="background-image: url(/assets/hero/{{hero}}.png);">
                <div class="hname">{{hero}}</div>
            </div>
        </div>            

    </div>
</div>

