<div class="content">

    <h1>Team bearbeiten</h1>

    <form class="b-form" [formGroup]="form">
            Name des Teams
            <input formControlName="name" type="text">
        <textarea 
            formControlName="description">
            Beschreibung
        </textarea>

        <div *ngIf="(heroes$ | async) as heroes">
            <div
                (click)="heroClick(hero)"
                [ngClass]="getHeroClass(hero)"
                *ngFor="let hero of heroes">
                {{hero}}
            </div>
        </div>

        <button
            type="button"
            (click)="save()">Speichern</button>

    </form>

</div>