:host {
  display: block;
}
.herorow {
  display: inline-flex;
  gap: 0.5em;
}
.hero > div {
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: end;
  flex-direction: column;
  border: 3px solid black;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero select {
  max-width: 100%;
  color: white;
  background-color: rgba(0,0,0,0.7);
  border: 0px solid black;
}