<div class="content" *ngIf="auth$ | async">
    <h1>Neuen Titan anlegen</h1>


    <form class="b-form" [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="flex flex-column gap-2">
                    <label for="name">Name des Titanen</label>
                    <input pInputText id="name" formControlName="name" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                    <div class="flex flex-column gap-2">
                            Kampfposition
                            <p-dropdown formControlName="position" [options]="positions" optionLabel="name"
                                    placeholder="Wähle die Position" />
                    </div>
            </div>
            <div class="col">
                    <div class="flex flex-column gap-2">
                            Tier List
                            <p-dropdown formControlName="tierlist" [options]="service.getPrimeTierlist()" optionLabel="name"
                                    placeholder="Rang in der Tierlist" />
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                    <div class="flex flex-column gap-2">
                            Klasse
                            <p-dropdown formControlName="funktion" [options]="service.getPrimeClasses()" optionLabel="name"
                                    placeholder="Klasse des Titan" />
                    </div>
            </div>
            <div class="col">
                    <div class="flex flex-column gap-2">
                            Sekundäre Klasse
                            <p-dropdown formControlName="funktion2" [options]="service.getPrimeClasses()" optionLabel="name"
                                    placeholder="Sekundäre Klasse des Titan" />
                    </div>
            </div>
        </div>        


        <div class="row">
            <div class="col">
                    Hinweise & Tips<br>
                    <textarea formControlName="description" pInputTextarea style="width:100%"></textarea>
            </div>
    </div>
        
        <p>
            <p-button label="Speichern" class="mr10" type="button" (click)="sendData()" />
            <p-button label="Abbrechen" type="button" (click)="abbrechen()" />
        </p>
    </form>
</div>
