<div class="content" *ngIf="auth$ | async">
    <h1>Neuen Titan anlegen</h1>


    <form class="b-form" [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="col">
                        Name des Titan
                        <input formControlName="name" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                    Kampfposition
                    <select formControlName="position">
                    <option *ngFor="let p of positions"></option>
                </select>
            </div>
            <div class="col">
                    Tier List
                    <select placeholder="Rang in der Tierlist" formControlName="tierlist">
                    <option *ngFor="let a of service.tierlist"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                    Klasse
                    <select placeholder="Klasse des Titan" formControlName="funktion">
                    <option *ngFor="let a of service.classes"></option>
                </select>
            </div>
            <div class="col">
                    Sekundäre Klasse
                    <select placeholder="Sekundäre Klasse des Titan" formControlName="funktion2">
                    <option *ngFor="let a of service.classes"></option>
                </select>
            </div>
        </div>

        <p>
            <textarea formControlName="description">
                Hinweise & Tips
            </textarea>
        </p>
        
        <p>
            <button class="mr10"
                type="button"
                (click)="sendData()">Abschicken</button>
            <button
                type="button"
                (click)="abbrechen()">Abbrechen</button>
        </p>
    </form>
</div>
