<div class="content">
  <div></div>

    <h1>Login</h1>
    &nbsp;<br>

    <div *ngIf="!(auth$ | async)">
      <form
      class="b-form"
      [formGroup]="form">
      <p>
              Deine Email
              <input type="email">
      </p>
      <p>
            Dein Passwort
            <input type="password">
      </p>
      <button
        type="button"
        (click)="sendlogin()">Anmelden</button>
      </form>
      <button
        type="button"
        [routerLink]="['/passwordrecover']">Passwort vergessen?</button>

      <div *ngIf="loginErr()"
          size="l"
          status="warning"
          (close)="(0)">
          Fehler bei der Anmeldung!
      </div>
      
    </div>

    <div *ngIf="auth$ | async">
      <p>Sie sind angemeldet.</p>
      <button
      type="button"
      (click)="logout()">Abmelden</button>
    </div>

</div>