<div class="content">
  <div></div>

    <h1>Login</h1>

    <div *ngIf="!(auth$ | async)">
      <form class="d-flex flex-column mb10" style="gap:2em;" [formGroup]="form">

        <div class="row">
          <div class="col">

            <p-floatLabel>
              <input pInputText id="email" formControlName="email" />
              <label for="email">E-Mail</label>
            </p-floatLabel>
      
          </div>
          <div class="col">

            <p-floatLabel>
              <p-password formControlName="pass" [feedback]="false" />
              <label for="pass">Password</label>
            </p-floatLabel>
            
          </div>
        </div>

        <div class="row" *ngIf="loginErr()">
          <div class="col">
            <div size="l"
                status="warning"
                (close)="(0)">
                Fehler bei der Anmeldung!
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <p-button 
              label="Anmelden" 
              icon="pi pi-check" 
              [loading]="loading" 
              (onClick)="sendlogin()" />
          </div>
          <div class="col">
            <p-button label="Passwort vergessen?" [routerLink]="['/passwordrecover']" />
          </div>
        </div>

      </form>
    </div>

    <div *ngIf="auth$ | async">
      <p>Sie sind angemeldet.</p>
      <p-button label="Abmelden" (click)="logout()" />
    </div>

</div>