<div class="content">
  <div></div>

    <h1>Login</h1>
    &nbsp;<br>

    <div *ngIf="!(auth$ | async)">
      <form
      class="b-form"
      [formGroup]="form">
      <p>
          <tui-input
              formControlName="email"
              tuiTextfieldSize="s">
              Deine Email
              <input
                  autocomplete="email"
                  tuiTextfield
                  type="email">
          </tui-input>
      </p>
      <p>
        <tui-input
            formControlName="pass"
            tuiTextfieldSize="s">
            Dein Passwort
            <input
                autocomplete="pass"
                tuiTextfield
                type="password">
        </tui-input>
      </p>
      <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)="sendlogin()">Anmelden</button>
      </form>
      <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        [routerLink]="['/passwordrecover']">Passwort vergessen?</button>

      <tui-notification *ngIf="loginErr()"
          size="l"
          status="warning"
          (close)="(0)">
          Fehler bei der Anmeldung!
      </tui-notification>
      
    </div>

    <div *ngIf="auth$ | async">
      <p>Sie sind angemeldet.</p>
      <button
      tuiButton
      type="button"
      class="tui-space_right-3 tui-space_bottom-3"
      (click)="logout()">Abmelden</button>
    </div>

</div>