@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

.row { margin-bottom: 1em; }

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    width: 100%;
    height: 100%;
}
#bodybg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@mixin protest {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin yellow {
    color: #D6AB08;
}
.yellow-protest {
    @include protest;
    @include yellow;
}


.content {
    margin:auto; 
    padding: 2em;
    padding-top:6em; 
    width: 90%; 
    max-width:800px;
    background-color: rgba(0,0,0,0.7);
    min-height: 100vh;
    color: white;
}
.contentTitle {
    font-size: 3em;

}

.topNavLogo {
    @include protest;
    @include yellow;
}

.content h1, .content h2, .content h3, .content h4, .content h5  {
    @include protest;
    @include yellow;
    margin: 0.2em 0;
    line-height: normal;
}
.content h1 { font-size: 3em; }
.content h2 { font-size: 2.3em; }
.content h3 { font-size: 1.8em; }
.content h4 { font-size: 1.3em; }
.content h5 { font-size: 1em; }



.mb10 { margin-bottom: 1em; }
.mb20 { margin-bottom: 2em; }
.mb30 { margin-bottom: 3em; }
.mb40 { margin-bottom: 4em; }
.mb50 { margin-bottom: 5em; }
.mb60 { margin-bottom: 6em; }
.mb70 { margin-bottom: 7em; }

.mt10 { margin-top: 1em; }
.mt20 { margin-top: 2em; }
.mt30 { margin-top: 3em; }
.mt40 { margin-top: 4em; }
.mt50 { margin-top: 5em; }
.mt60 { margin-top: 6em; }
.mt70 { margin-top: 7em; }

.mr10 { margin-right: 1em; }
.mr20 { margin-right: 2em; }
.mr30 { margin-right: 3em; }
.mr40 { margin-right: 4em; }
.mr50 { margin-right: 5em; }
.mr60 { margin-right: 6em; }
.mr70 { margin-right: 7em; }

.ml10 { margin-left: 1em; }
.ml20 { margin-left: 2em; }
.ml30 { margin-left: 3em; }
.ml40 { margin-left: 4em; }
.ml50 { margin-left: 5em; }
.ml60 { margin-left: 6em; }
.ml70 { margin-left: 7em; }

html, body { height: 100%; }

/* Override Taiga less */
.content ul {
    list-style: disc;
}
.content ol {
    list-style: decimal;
}

.content a {
    text-decoration: none;
}