:host {
  display: block;
}

.hero {
  display: inline-flex;
  border: 3px solid black;
  color: gray;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5em;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  cursor: pointer;
}
.hname {
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.2em 0 0 0;
}
h1 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  margin: 0;
  color: #D6AB08;      
}