<div class="content">
    <ng-container *ngIf="hero$ | async as hero">

        <div class="heroimage">
            <img class="heroimg" src="{{getSkinUrl()}}">
            <div class="scrollhero" *ngIf="hero.skins.length">
                <p-button icon="pi pi-arrow-circle-left" [rounded]="true" [text]="true" (click)="prevSkin()"/>
                <span>{{getSkinName()}}</span>
                <p-button icon="pi pi-arrow-circle-right" [rounded]="true" [text]="true" (click)="nextSkin()"/>
            </div>
        </div>

        <h1>{{hero.name}}</h1>

        <p>
            <strong>Position:</strong> {{hero.position}}<br>
            <strong>Tier-List:</strong> {{hero.tierlist}}<br>
            <strong>Funktion:</strong> {{hero.funktion}}
        </p>

        <p [innerHTML]="hero.description"></p>

        <h2 style="margin-top: 1em;">Artefakte Priorität</h2>
        <div class="chip" *ngFor="let arte of hero.artifacts">{{arte}}</div>

        <h2 style="margin-top: 1em;">Skin Priorität</h2>
        <div class="chip skinchip" 
            *ngFor="let skin of hero.skins" 
            (click)="selectSkin(skin)">{{skin}}</div>

        <h2 style="margin-top: 1em;">Glyphen Priorität</h2>
        <div class="chip" *ngFor="let glyph of hero.glyphs">{{glyph}}</div>

        <p class="flex" style="margin-top:2em; gap:1em;" *ngIf="auth$ | async">
            <p-button label="Bearbeiten"
                type="button"
                [routerLink]="['/hero/hero/edithero/'+hero.name]"
            />
            <p-button label="Löschen"
                type="button"
                (onClick)="confirm1($event)"
            />
            <p-toast />
            <p-confirmDialog />        
        </p>

    </ng-container>
</div>

<ng-template>
    <p>Wirklich löschen?</p>
    <button
        type="button"
    >Löschen</button>
    <button
        type="button"
    >Abbrechen</button>
</ng-template>
