<div class="content">
    <app-subnav [definedRoute]="'hero'"></app-subnav>
    <ng-container *ngIf="hero$ | async as hero">

        <div class="heroimage">
            <img class="heroimg" src="{{getSkinUrl()}}">
            <div class="scrollhero" *ngIf="hero.skins.length">
                <button
                    tuiIconButton
                    type="button"
                    icon="tuiIconChevronsLeft"
                    (click)="prevSkin()"
                    size="s"
                ></button>
                <span>{{getSkinName()}}</span>
                <button
                    tuiIconButton
                    type="button"
                    icon="tuiIconChevronsRight"
                    (click)="nextSkin()"
                    size="s"
                ></button>
            </div>
        </div>

        <h1>{{hero.name}}</h1>

        <p>
            <strong>Position:</strong> {{hero.position}}<br>
            <strong>Tier-List:</strong> {{hero.tierlist}}<br>
            <strong>Funktion:</strong> {{hero.funktion}}
        </p>

        <p [innerHTML]="hero.description"></p>

        <h2 style="margin-top: 1em;">Artefakte Priorität</h2>
        <div class="chip" *ngFor="let arte of hero.artifacts">{{arte}}</div>

        <h2 style="margin-top: 1em;">Skin Priorität</h2>
        <div class="chip skinchip" 
            *ngFor="let skin of hero.skins" 
            (click)="selectSkin(skin)">{{skin}}</div>

        <h2 style="margin-top: 1em;">Glyphen Priorität</h2>
        <div class="chip" *ngFor="let glyph of hero.glyphs">{{glyph}}</div>

        <p style="margin-top:2em" *ngIf="auth$ | async">
            <button
                appearance="primary"
                tuiButton
                type="button"
                size="m"
                [routerLink]="['/hero/edithero/'+hero.name]"
                style="margin-right: 1em;"
            >Bearbeiten</button>
            <button
                appearance="primary"
                tuiButton
                type="button"
                size="m"
                (click)="deleteHero(deleteModal)"
            >Löschen</button>
        </p>

    </ng-container>
</div>



<ng-template #deleteModal let-observer>
    <p>Wirklich löschen?</p>
    <button
        size="m"
        tuiButton
        type="button"
        class="tui-space_right-3"
        (click)="withdraw()"
    >Löschen</button>
    <button
        size="m"
        tuiButton
        type="button"
        (click)="observer.complete()"
    >Abbrechen</button>
</ng-template>